<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Carrito</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <section>
        <nav class="carrito-sec1">
            <h3 class="carrito">Carrito de Compras</h3>
            <ul class=carrito-detalle type="none">
                 <li>Productos</li>
                <li>Subtotal</li>
            </ul>
            <a href="/">Home</a>
        </nav>
    </section>
    
</body>
</html>