<!DOCTYPE html>
<html>

<head>
    <title>
        DIGITAL PETSHOP
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/header.ejs') %>
        <nav class="BarraDeMenu">
            <section>
                <ul class="menu_1" type="none">
                    <li><a href="alimentos">Alimentos</a></li>
                    <li><a href="accesorios">Accesorios</a></li>
                    <li><a href="digital_spa">Digital Spa</a></li>
                    <li><a href="digital_vet">Digital Vet</a></li>
                </ul>
            </section>
            <section>
                <ul class="menu_2" type="none">
                    <li><a href="/iniciarSesion">Iniciá sesión</a></li>
                    <li><a href="/crearCuenta">Creá tu cuenta</a></li>
                </ul>

            </section>
        </nav>
</body>

</html>