<!DOCTYPE html>
<html>

<head>
    <title>
        DIGITAL PETSHOP
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/header.ejs') %>
        <main>
            <section class="formularios">
                <form action="/registro" method="post">
                    <p class="etiquetas1">
                        <label for="nombre">Nombre: </label>
                    </p>
                    <p class="inputs1">
                        <input type="text" name="usuario">
                    </p>
                    <p class="etiquetas1">
                        <label for="clave">Contraseña: </label>
                    </p>
                    <p class="inputs1">
                        <input type="password" name="clave">
                    </p>
                    <p class="etiquetas1">
                        <label for="email">Email: </label>
                    </p>
                    <p class="inputs1">
                        <input type="email" name="email">
                    </p>
                </form>
            </section>
        </main>
</body>

</html>