<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>
            <main>
                <h3 class="título">Alimentos para Perros</h3>
                <section class="productoPerros">
                    <div class="produ">
                        <img src="/images/pedigree.jpg" alt="pedigree">
                        <p>
                            PEDIGREE POUCH ADULTO POLLO
                        </p>
                        <p>
                            <button class="agregar-carrito" type="submit"> + </button>
                        </p>
                    </div>
                    <div class="produ">
                        <img src="/images/royacanin.jpg" alt="royal">
                        <p>
                            ROYAL CANIN POUCH MINI AGEING +12
                        </p>
                        <p>
                            <button class="agregar-carrito" type="submit"> + </button>
                        </p>
                    </div>
                    <div class="produ">
                        <img src="/images/old-prince-adulto.jpg" alt="prince">
                        <p>
                            OLD PRINCE CORDERO Y ARROZ ADULTO MED & GRD X 15+3 KG
                        </p>
                        <p>
                            <button class="agregar-carrito" type="submit"> + </button>
                        </p>
                    </div>
                </section>
            </main>
            <%- include('partials/footer.ejs') %>

    </body>

</html>